form {
  width: 30vw;
  margin: 10em auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.p-field {
  margin-bottom: 20px;
}

.p-button {
  margin-bottom: 10px;
}

.p-inputtext {
  width: 100% !important;
}
