<p-table [value]="devices">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Device user</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-device>
    <tr>
      <td>{{device.name}}</td>
      <td>{{device.description}}</td>
      <td>{{device.useremail}}</td>
      <td *ngIf="auth.userRole=== 'admin' || auth.userRole === 'device-manufacturer'">
        <p-button label="Remove" icon="pi pi-times" styleClass="p-button-warning" (click)="removeDevice(device)"></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>
<div *ngIf="auth.userRole === 'admin' || auth.userRole === 'device-manufacturer'" class="footer">
<p-button label="Add Device" icon="pi pi-plus" styleClass="p-button-warning" (click)="addDevice()"></p-button>

</div>
