<div class="header">
  <input pInputText type="text" placeholder="Search" [(ngModel)]="searchText" (input)="onSearch()"/>
  <button pButton (click)="addPlant()">
    Add new plant
  </button>
</div>
<div class="plant-grid">
  <ng-container *ngFor="let plant of displayedPlants">
    <div>
      <p-card title="{{ plant.name }}">
        <div class="header-in-card">
          <h5>{{ plant.name }}</h5>
          <p-button (click)="deletePlant(plant._id)" [style]="{'padding':'0', 'height':'1.5em', 'width':'1.5em'}" [title]="'Delete plant'"
                    icon="pi pi-times" styleClass="p-button-danger"></p-button>
        </div>
        <div>
          <img (click)="modifyPlant(plant._id)" [alt]="plant.name" [src]="plant.plantSpecie.imageURL"
               class="w-9 shadow-2 border-round"/>
        </div>
        <div class="plant-data-div">
          <div>
            <h4>Status</h4>
            <div> Temperature: {{ plant.temperature }} °C</div>
            <div> Humidity: {{ plant.humidity }} %</div>
            <div> Soil moisture: {{ plant.soil_moisture }} %</div>
          </div>
          <p-tag *ngIf="plant.careNeeded !== undefined" [severity]="plant.careNeeded ? 'danger' : 'success'"
                 [style]="{'margin-left': '2em','margin-top':'2em',}"
                 [value]="plant.careNeeded ? 'Care Needed' : 'No Care Needed'"></p-tag>
        </div>
      </p-card>
    </div>
  </ng-container>
</div>
