p-card {
  width: 200px;
  margin: 16px;
}

p-card img {
  width: 20em;
  height: 20em;
}

.plant-data-card{
  display: flex;
  height:45em;
  padding:3em;
}
.plant-data-table{
  height:40em;
  padding:3em;
  background: aliceblue;
  overflow: auto;
}
