<div class="header">
  <input pInputText type="text" placeholder="Search" [(ngModel)]="searchText" (input)="onSearch()"/>
  <button *ngIf="authService.userRole === 'plant-database-admin'" pButton (click)="addPlant()">
    Add new plant
  </button>
</div>

<div *ngFor="let plant of displayedPlants">
  <p-card>
    <div class="plant-data-card">
      <div>
      <img [src]="plant.imageURL" alt="Plant Image">
      <h3>{{plant.name}}</h3>
      <p>Alias: {{plant.alias}}</p>
      <p>Blooming: {{plant.blooming}}</p>
      <p>Category: {{plant.category}}</p>
      <p>Color: {{plant.color}}</p>
      </div>
      <div class="plant-data-table">
        <p-table [value]="[plant]">
          <ng-template pTemplate="header">
            <tr>
              <th>Fertilization</th>
              <th>Max Environment Humidity</th>
              <th>Max Light Lux</th>
              <th>Max Light mmol</th>
              <th>Max Soil EC</th>
              <th>Max Soil Moisture</th>
              <th>Max Temperature</th>
              <th>Min Environment Humidity</th>
            </tr>
          </ng-template>
          <ng-template let-rowData pTemplate="body">
            <tr>
              <td>{{rowData.fertilization}}</td>
              <td>{{rowData.max_env_humid}}</td>
              <td>{{rowData.max_light_lux}}</td>
              <td>{{rowData.max_light_mmol}}</td>
              <td>{{rowData.max_soil_ec}}</td>
              <td>{{rowData.max_soil_moist}}</td>
              <td>{{rowData.max_temp}}</td>
              <td>{{rowData.min_env_humid}}</td>
            </tr>
          </ng-template>
        </p-table>
        <p-table [value]="[plant]">
          <ng-template pTemplate="header">
            <tr>
              <th>Min Light Lux</th>
              <th>Min Light mmol</th>
              <th>Min Soil EC</th>
              <th>Min Soil Moisture</th>
              <th>Min Temperature</th>
              <th>Origin</th>
              <th>PID</th>
              <th>Production</th>
              <th>Pruning</th>
              <th>Size</th>
              <th>Soil</th>
              <th>Sunlight</th>
              <th>Watering</th>
            </tr>
          </ng-template>
          <ng-template let-rowData pTemplate="body">
            <tr>
              <td>{{rowData.min_light_lux}}</td>
              <td>{{rowData.min_light_mmol}}</td>
              <td>{{rowData.min_soil_ec}}</td>
              <td>{{rowData.min_soil_moist}}</td>
              <td>{{rowData.min_temp}}</td>
              <td>{{rowData.origin}}</td>
              <td>{{rowData.pid}}</td>
              <td>{{rowData.production}}</td>
              <td>{{rowData.pruning}}</td>
              <td>{{rowData.size}}</td>
              <td>{{rowData.soil}}</td>
              <td>{{rowData.sunlight}}</td>
              <td>{{rowData.watering}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </p-card>
</div>
