<form (ngSubmit)="onSubmit()" *ngIf="isLoginMode" #loginForm="ngForm">
  <div class="p-field">
    <label for="email">E-mail:</label>
    <input required email [(ngModel)]="email" id="email" name="email" pInputText>
  </div>
  <div class="p-field">
    <label for="password">Password:</label>
    <input [(ngModel)]="password" required id="password" name="password" type="password" pInputText>
  </div>
  <div class="footer">
    <button [disabled]="loginForm.invalid" label="Login" pButton type="submit"></button>
    <button (click)="switchLoginMode()" label="Go to Register" pButton type="button"></button>
  </div>

</form>

<form (ngSubmit)="onSubmit()" *ngIf="!isLoginMode" #registerForm="ngForm">
  <div class="p-field">
    <label>E-mail:</label>
    <input [(ngModel)]="email" name="email" email pInputText required>
  </div>
  <div class="p-field">
    <label>Password:</label>
    <p-password [(ngModel)]="password" name="password" style="width: 100%; display: flex"></p-password>
  </div>
  <div class="p-field">
    <label for="confirmPassword">Confirm Password</label>
    <input [(ngModel)]="confirmPassword" id="confirmPassword" name="confirmPassword" pInputText required
           type="password">
  </div>
  <div class="footer">
    <button (click)="onSubmit()" [disabled]="confirmPassword !== password || registerForm.invalid"
            label="Register"
            pButton type="submit"></button>
    <button (click)="switchLoginMode()" label="Go to Login" pButton type="button"></button>

  </div>

</form>
