<div *ngIf="!!plantSpecies && !!choosenPlantSpiece" class="plant-form">
  <div class="p-fluid p-formgrid p-justify-center form-div">
    <div *ngIf="choosenPlantSpiece.imageURL" class="p-field">
      <p-image [src]="choosenPlantSpiece.imageURL" alt="Image" width="250"></p-image>
    </div>
    <div class="p-field">
      <label for="name">Name</label>
      <input [(ngModel)]="plantName" id="name" pInputText/>
    </div>
    <div class="p-field">
      <label for="type">Type</label>
      <p-dropdown [disabled]="isModify" [(ngModel)]="choosenPlantSpiece" [appendTo]="'body'" [options]="plantSpecies" [showClear]="true"
                  id="type" optionLabel="name"></p-dropdown>
    </div>
    <div *ngFor="let device of devices" style="margin-top: 3em">
      <div style="display: flex; gap:1em">
        <label style="margin-bottom: 0" [for]="device._id+''">{{device.name}}:</label>
        <p-checkbox [(ngModel)]="selectedDevices" [inputId]="device._id+''" name="group1" [value]="device"></p-checkbox>
      </div>
    </div>
    <div class="footer">
      <p-button (onClick)="onSubmit()" label="Submit" styleClass="p-button-success" type="submit"></p-button>
      <p-button (click)="back()" label="Back" styleClass="p-button-danger" type="button"></p-button>
    </div>
  </div>
</div>
