<div class="p-fluid p-formgrid p-justify-center form-div">
  <div class="p-field">
    <label for="name">Name</label>
    <input [(ngModel)]="name" id="name" pInputText/>
  </div>
  <div class="p-field">
    <label for="description">Description</label>
    <textarea [(ngModel)]="description" cols="30" id="description" pInputTextarea rows="3"></textarea>
  </div>

  <div class="p-field">
    <label for="imageUrl">Image URL</label>
    <input [(ngModel)]="imageUrl" id="imageUrl" pInputText/>
  </div>

  <div *ngIf="imageUrl" class="p-field">
    <p-image [src]="imageUrl" alt="Image" width="250"></p-image>
  </div>

  <div class="footer">
    <p-button (click)="onSubmit()" label="Submit" styleClass="p-button-success" type="submit"></p-button>
    <p-button (click)="back()" label="Back" styleClass="p-button-danger" type="button"></p-button>
  </div>
</div>
